<div class=“container”>
  <h1>Edit your game here</h1>
  <%= simple_form_for(@game) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>

    <select id="inputLevel" class="form-select">
      <option selected>Level...</option>
      <option>Very easy</option>
      <option>Easy</option>
      <option>Normal</option>
      <option>Expert</option>
    </select>

    <select id="inputType" class="form-select">
      <option selected>Players...</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
      <option>11</option>
      <option>12</option>
    </select>

     <select id="inputType" class="form-select">
      <option selected>Age...</option>
      <option>Moins de 3 ans</option>
      <option>3 à 4 ans</option>
      <option>4 à 6 ans</option>
      <option>6 à 8 ans</option>
      <option>8 à 10 ans</option>
      <option>A partir de 10 ans</option>
      <option>A partir de 12 ans</option>
      <option>A partir de 14 ans</option>
      <option>A partir de 16 ans</option>
      <option>Adulte</option>
    </select>

     <select id="inputType" class="form-select">
      <option selected>Type...</option>
      <option>Agility</option>
      <option>Aventure</option>
      <option>Family</option>
      <option>Humor</option>
      <option>Reflexion</option>
      <option>Strategy</option>
    </select>

    <legend>This game is in activ reservation</legend>

    <div>
      <input type="checkbox" id="yes">
      <label for="activ">Yes</label>
    </div>

    <div>
      <input type="checkbox" id="no">
      <label for="noActiv">No</label>
    </div>

</div>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
