<div class="container mt-5">
  <h1 class="form-title d-flex justify-content-center">What games would you like to rent?</h1>

  <div class="d-flex justify-content-center">
    <!-- <%= cl_image_tag("qwohup0oiocwtd1nxaqb.jpg", width: 900, height: 300, crop: :fill) %> -->
  </div>

  <%= simple_form_for(@game) do |f| %>
    <div class="row justify-content-center">
      <div class="col-4 col-sm-3 my-3">
        <%= f.input :name %>
      </div>
      <div class="col-4 col-sm-3 my-3">
        <%= f.input :game_type, collection: Game::GAME_TYPE %>
      </div>
    </div>

      <div class="row justify-content-center">
        <div class="col-8 col-sm-6 my-3">
        <%= f.input :description %>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-4 col-sm-3 my-3">
          <%= f.input :player, label:"min Player" %>
        </div>
        <div class="col-4 col-sm-3 my-3">
          <%= f.input :age %>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-4 col-sm-3 my-3">
          <%= f.input :level, collection: Game::LEVEL %>
        </div>
        <div class="col-4 col-sm-3 my-3">
          <%= f.input :price %>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-8 col-sm-6 my-3">
          <%= f.input :photo, as: :file %>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-8 col-sm-6 my-3">
          <%= f.button :submit, class: "btn-info" %>
        </div>
      </div>

      <% end %>
    </div>
</div>
