<div class="container">
  <div class="row text-content-justify">
    <div class="col-12">

      <br>

      <h1>Welcome to your profile</h1>

      <br>

      <div>
      <h2>Upcoming client reservation</h2>
        <% @reservations_demand.each do |demand| %>
          <div class="row justify-content-center">
            <div class="card-product m-3">
              <%= cl_image_tag demand.game.photo.key, height: 100, crop: :fill %>
              <div class="card-product-infos">
                <h2><%= demand.game.name %><h2>
                <p><%= demand.date_start %> to <%= demand.date_end %><p>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div>
        <h2>My reservations</h2>
        <% @my_reservations.each do |reservation| %>
          <div class="row justify-content-center">
            <div class="card-product m-3">
              <%= cl_image_tag reservation.game.photo.key, width: 200, crop: :fill %>
              <div class="card-product-infos">
                <h2><%= reservation.game.name %></h2>
                <p><%= reservation.game.game_type %></p>
                <p>duration: <%= (reservation.date_end - reservation.date_start).to_i %> days</p>
                <p><%= reservation.total_price %>€</p>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div>
        <h2>My games to rent</h2>
        <% @my_games.each do |game| %>
          <div class="row justify-content-center">
            <div class="card-product m-3">
              <%= cl_image_tag game.photo.key, height: 100, crop: :fill %>
              <div class="card-product-infos">
                <h2><%= link_to game.name, game_path(game) %></h2>
                <p><%= game.description %></p>
                <p>
                  <%= link_to "", game_path(game), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "fa-solid fa-trash" %>
                  <%= link_to "", edit_game_path(game), class: "fa-solid fa-pen-to-square" %>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <br>

<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>


    </div>
  </div>
</div>
